.quotePage{
  padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(48, 45, 45);
  }
  
  .tableForm table, .tableForm table tr, .tableForm table th, .tableForm table td{
      border-collapse: collapse;
  }
  .tableForm table #thead th{
      background-color: var(--header-footer-bg);
      padding: 12px 0px;
  }
  .tableForm table td input{
      padding: 3.5px 2px;
      border: none;
      margin: 10px 0;
      font-size: 16px;
      width: 65%;
  }
  .tableForm table tr{
      border-bottom: 1px solid rgb(151, 151, 151);
     
  }
  .buttonForms{
      margin-top: 10px;
  }

  
  
  @media print {
    .buttonForms{
      display: none;
    }
   
   *{
      font-size: 14px;
   }
   .quotePage .carTitle h1{
      font-size: 28px;
      font-weight: bold;
    }
    .header{
      justify-content: center;
      position: static;
      border: none;
    }
 .header .container{
    justify-content: center !important;
    align-items: center;
  }
    .header .container .container2{
      justify-content: center !important;
      align-items: center !important;
      margin-left: 100px;
    }
    .header .account{
      display: none;
    }
    .header img{
      width: 120px;
      height: 120px;
    }
    .breadcrumbs{
      display: none;
    }
    .calculation{
      margin-top: 2em;
    }
    .footer{
      bottom: -4em;
      border-bottom: 0;
    }
  }
  
  @media screen and (max-width:378px) {
    .quotePage{
      padding: 15px 10px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 1080px)  {
  
  
   
      .quotePage .tableForm{
          font-size: 14px;
      }
    }
    